<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Thanks for your interest</title>
</head>
<body>
<div class="container">
		<div class="inner">
			<h2 class="page-title">Thank You</h2>
			<p class="lead">Thanks for your interest! We’re excited to show you how Sears can help you and your business. We’ll be in touch within the next business day to set up a time for your free demo.</p>
			<p class="lead">In the meantime, check out <a href="http://sears.com">our Website</a>.</p>
		</div>
	</div>
	
	
</body>
</html>